<nav class="navbar navbar-expand-lg navbar-light bg-light">

  <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
    <div class="navbar-nav">
      <a class="nav-item nav-link active" routerLink="/Home" routerLinkActive="routeActive">Home</a>
      <a class="nav-item nav-link"  routerLink="/Products" routerLinkActive="routeActive">Products</a>
      <a class="nav-item nav-link" routerLink="/Contact" routerLinkActive="routeActive">Contact</a>

    </div>
  </div>
</nav>


<router-outlet></router-outlet>
